testacc/
test_report.html
# Binaries for programs and plugins
vendor/
terraform-provider-wallix-bastion_v*
terraform-provider-wallix-bastion

# Test binary, build with `go test -c`
*.test
*.log

# Output of the go coverage tool
*.out

# Editor config
.vscode/
terraform-provider-bastion

# Work In progress
*.wip
*.swp
WIP/
